<a href="https://colab.research.google.com/github/kjxeez/Funnel-analysis/blob/main/full_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip3 install psycopg2-binary

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import psycopg2
import pandas as pd

In [ ]:
# 1. подключаюсь к БД
from sqlalchemy import create_engine
engine = create_engine(
    "postgresql://student:JvLda93aA@158.160.52.106:5432/postgres",
)
clients = pd.read_sql(
    "SELECT date(visit_dttm), count(distinct client_rk) FROM msu_analytics.client GROUP BY DATE(visit_dttm)",
    engine
)
#посетил сайт
clients

           date  count
0    2022-09-17     25
1    2022-09-01     25
2    2022-10-19     17
3    2022-12-22     25
4    2022-12-06     24
..          ...    ...
150  2022-09-04     36
151  2022-10-22     33
152  2022-11-07     20
153  2022-12-09     27
154  2022-11-23     23

[155 rows x 2 columns]

In [ ]:
accounts = pd.read_sql(
    "SELECT date(registration_dttm), count(distinct account_rk) FROM msu_analytics.account GROUP BY DATE(registration_dttm)",
    engine
)
#регается
accounts

           date  count
0    2022-09-05     11
1    2022-09-21      6
2    2022-10-07      8
3    2022-10-23     12
4    2022-11-08      6
..          ...    ...
149  2022-11-30     10
150  2022-12-16      9
151  2023-01-01      7
152  2023-01-17      2
153  2023-02-02      3

[154 rows x 2 columns]

In [ ]:
applications = pd.read_sql(
    "SELECT date(application_dttm), count(distinct application_rk) FROM msu_analytics.application GROUP BY DATE(application_dttm)",
    engine
)
#заявка
applications

           date  count
0    2022-11-24      4
1    2022-10-23      4
2    2022-11-08      3
3    2023-01-11      4
4    2022-12-10      5
..          ...    ...
138  2022-12-29      3
139  2022-10-10      6
140  2022-11-27      2
141  2022-11-11      5
142  2022-12-13      3

[143 rows x 2 columns]

In [ ]:
games = pd.read_sql(
    "SELECT date(game_dttm), count(distinct game_rk) FROM msu_analytics.game WHERE game_flg = 1 GROUP BY DATE(game_dttm)",
    engine
)
#приходит
games

          date  count
0   2022-09-25      1
1   2022-10-27      1
2   2022-11-12      2
3   2022-11-28      2
4   2022-12-14      2
..         ...    ...
90  2022-11-21      2
91  2022-12-07      3
92  2022-12-23      1
93  2023-01-08      2
94  2023-01-24      2

[95 rows x 2 columns]

In [ ]:
result = pd.merge(clients, accounts, on='date',how = 'outer')
result = pd.merge(result, applications, on='date',how = 'outer')
result = pd.merge(result, games, on='date',how = 'outer')
result.columns = ['date', 'clients', 'accounts', 'applications', 'games']
result

<ipython-input-14-81a0caf0dae4>:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'count_x'} in the result is deprecated and will raise a MergeError in a future version.
  result = pd.merge(result, games, on='date',how = 'outer')

           date  clients  accounts  applications  games
0    2022-09-17       25       7.0           2.0    NaN
1    2022-09-01       25       3.0           NaN    NaN
2    2022-10-19       17       6.0           1.0    1.0
3    2022-12-22       25       5.0           4.0    2.0
4    2022-12-06       24       5.0           4.0    4.0
..          ...      ...       ...           ...    ...
150  2022-09-04       36       6.0           NaN    NaN
151  2022-10-22       33       5.0           2.0    NaN
152  2022-11-07       20       6.0           4.0    NaN
153  2022-12-09       27       6.0           4.0    1.0
154  2022-11-23       23       8.0           2.0    2.0

[155 rows x 5 columns]

In [ ]:
result.to_csv('data.csv',index=False)

In [ ]:
df = pd.read_csv('data.csv')
df['date'] = pd.to_datetime(df['date'])
df

          date  clients  accounts  applications  games
0   2022-09-17       25       7.0           2.0    NaN
1   2022-09-01       25       3.0           NaN    NaN
2   2022-10-19       17       6.0           1.0    1.0
3   2022-12-22       25       5.0           4.0    2.0
4   2022-12-06       24       5.0           4.0    4.0
..         ...      ...       ...           ...    ...
150 2022-09-04       36       6.0           NaN    NaN
151 2022-10-22       33       5.0           2.0    NaN
152 2022-11-07       20       6.0           4.0    NaN
153 2022-12-09       27       6.0           4.0    1.0
154 2022-11-23       23       8.0           2.0    2.0

[155 rows x 5 columns]

In [ ]:
df['month'] = df['date'].dt.month
df['week'] = df['date'].dt.week

<ipython-input-21-d354e4fbc778>:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['week'] = df['date'].dt.week

In [ ]:
df1=df.groupby('month').agg({'clients': 'sum', 'accounts':'sum', 'applications':'sum', 'games':'sum'})
df1.to_csv('month.csv')

In [ ]:
df2=df.groupby('week').agg({'clients': 'sum', 'accounts':'sum', 'applications':'sum', 'games':'sum'})
df2.to_csv('week.csv')

In [ ]:
!pip install dash

In [ ]:
import pandas as pd
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
from plotly import graph_objects as go

<ipython-input-3-6db54a07d908>:3: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
<ipython-input-3-6db54a07d908>:4: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [ ]:
week_data = pd.read_csv("week.csv")
month_data = pd.read_csv("month.csv")

In [ ]:
all_data = pd.concat([week_data, month_data])
all_data

    week  clients  accounts  applications  games  month
0    1.0      201      55.0          24.0   16.0    NaN
1    2.0      205      54.0          23.0    8.0    NaN
2    3.0      181      42.0          40.0   15.0    NaN
3    4.0      182      40.0          33.0   17.0    NaN
4    5.0       81      26.0          11.0    9.0    NaN
5   35.0      111      22.0           0.0    0.0    NaN
6   36.0      184      38.0           7.0    0.0    NaN
7   37.0      167      42.0          17.0    1.0    NaN
8   38.0      181      46.0          24.0    1.0    NaN
9   39.0      195      56.0          18.0    1.0    NaN
10  40.0      204      59.0          33.0    5.0    NaN
11  41.0      190      46.0          28.0    3.0    NaN
12  42.0      171      42.0          24.0    5.0    NaN
13  43.0      189      48.0          18.0    7.0    NaN
14  44.0      197      46.0          25.0    8.0    NaN
15  45.0      173      43.0          30.0   10.0    NaN
16  46.0      179      36.0          25.0    7.0    NaN
17  47.0      180      52.0          19.0   14.0    NaN
18  48.0      177      45.0          22.0   10.0    NaN
19  49.0      168      44.0          20.0   13.0    NaN
20  50.0      196      52.0          19.0   11.0    NaN
21  51.0      192      46.0          28.0    7.0    NaN
22  52.0      192      44.0          24.0   11.0    NaN
0    NaN      852     215.0         133.0   63.0    1.0
1    NaN       32       9.0           3.0    3.0    2.0
2    NaN      778     186.0          63.0    2.0    9.0
3    NaN      843     219.0         109.0   21.0   10.0
4    NaN      786     195.0         107.0   43.0   11.0
5    NaN      805     200.0          97.0   47.0   12.0

In [ ]:
app = dash.Dash(__name__)
app.layout = html.Div(children=[
    html.H1(children='Воронка'),

    dcc.RadioItems(
        id='time-selection',
        options=[
            {'label': 'Воронка по неделе', 'value': 'week'},
            {'label': 'Воронка по месяцу', 'value': 'month'}
        ],
        value='week'
    ),

    dcc.Dropdown(

        id='period-selection',
        options=[
            {'label': '1 неделя', 'value': 1},
            {'label': '2 неделя', 'value': 2},
            {'label': '3 неделя', 'value': 3},
            {'label': '4 неделя', 'value': 4},
            {'label': '5 неделя', 'value': 5},
            {'label': '35 неделя', 'value': 35},
            {'label': '36 неделя', 'value': 36},
            {'label': '37 неделя', 'value': 37},
            {'label': '38 неделя', 'value': 38},
            {'label': '39 неделя', 'value': 39},
            {'label': '40 неделя', 'value': 40},
            {'label': '41 неделя', 'value': 41},
            {'label': '42 неделя', 'value': 42},
            {'label': '43 неделя', 'value': 43},
            {'label': '44 неделя', 'value': 44},
            {'label': '45 неделя', 'value': 45},
            {'label': '46 неделя', 'value': 46},
            {'label': '47 неделя', 'value': 47},
            {'label': '48 неделя', 'value': 48},
            {'label': '49 неделя', 'value': 49},
            {'label': '50 неделя', 'value': 50},
            {'label': '51 неделя', 'value': 51},
            {'label': '52 неделя', 'value': 52}
        ],
        value=1,
        multi=False
    ),
    dcc.Dropdown(
        id='period-selection2',
        options=[
            {'label': 'Январь', 'value': 1},
            {'label': 'Февраль', 'value': 2},
            {'label': 'Сентябрь', 'value': 9},
            {'label': 'Октябрь', 'value': 10},
            {'label': 'Ноябрь', 'value': 11},
            {'label': 'Декабрь', 'value': 12}
        ],
        value=1,
        multi=False
    ),
    dcc.Graph(
        id='funnel-graph'
    )
])
@app.callback(
    Output('funnel-graph', 'figure'),
    Input('time-selection', 'value'),
    Input('period-selection', 'value'),
    Input('period-selection2', 'value')
)

def update_graph(time_selection, period_selection, period_selection2):
    if time_selection == 'week':
        data = week_data
    else:
        data = month_data

    if time_selection == 'week':
        a=data[data['week'] == period_selection]
        a=a.values[0, 1:].tolist()
        filtered_data = dict(number = a, stage=['clients', 'accounts', 'applications', 'games'])

    else:
        a = data[data['month'] == period_selection2]
        a = a.values[0, 1:].tolist()
        filtered_data = dict(number = a, stage=['clients', 'accounts', 'applications', 'games'])

    fig = go.Figure()
    fig.add_trace(go.Funnel(
    name = 'Funnel',
    orientation = "h",
    y = ['clients', 'accounts', 'applications', 'games'],
    x = a,
    textposition = "inside",
    textinfo = "value+percent initial"))
  
    return fig
if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

INFO:dash.dash:Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__'
 * Debug mode: off

INFO:werkzeug:WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:8050
INFO:werkzeug:Press CTRL+C to quit

In [2]:
import pandas as pd
# Создаем списки данных для каждой переменной
df = pd.read_csv('week.csv')

df.loc[0:4:, 'week'] = [53, 54, 55, 56, 57]
df =pd.concat([df[5:],df[:5]]).reset_index(drop=True)
df

    week  clients  accounts  applications  games
0     35      111      22.0           0.0    0.0
1     36      184      38.0           7.0    0.0
2     37      167      42.0          17.0    1.0
3     38      181      46.0          24.0    1.0
4     39      195      56.0          18.0    1.0
5     40      204      59.0          33.0    5.0
6     41      190      46.0          28.0    3.0
7     42      171      42.0          24.0    5.0
8     43      189      48.0          18.0    7.0
9     44      197      46.0          25.0    8.0
10    45      173      43.0          30.0   10.0
11    46      179      36.0          25.0    7.0
12    47      180      52.0          19.0   14.0
13    48      177      45.0          22.0   10.0
14    49      168      44.0          20.0   13.0
15    50      196      52.0          19.0   11.0
16    51      192      46.0          28.0    7.0
17    52      192      44.0          24.0   11.0
18    53      201      55.0          24.0   16.0
19    54      205      54.0          23.0    8.0
20    55      181      42.0          40.0   15.0
21    56      182      40.0          33.0   17.0
22    57       81      26.0          11.0    9.0

In [3]:
import plotly.graph_objects as go
fig = go.Figure()

# добавляем линии для каждого столбца, используя дату как ось x и значение столбца как ось y
fig.add_trace(go.Scatter(x=df['week'], y=df['clients'], name='clients'))
fig.add_trace(go.Scatter(x=df['week'], y=df['accounts'], name='accounts'))
fig.add_trace(go.Scatter(x=df['week'], y=df['applications'], name='applications'))
fig.add_trace(go.Scatter(x=df['week'], y=df['games'], name='games'))

# задаем название графика и осей
fig.update_layout(title='Зависимость значений от времени',
                  xaxis_title='Недели',
                  yaxis_title='Значение')

# отображаем график
fig.show()

Разница между просмотрами и регистрациями очень заметна.

График конверсий ниже показывает то же самое

In [4]:
fig = go.Figure()

df['accounts_conversion'] = df['accounts'] / df['clients']*100
df['applications_conversion'] = df['applications'] / df['accounts']*100
df['games_conversion'] = df['games'] / df['applications']*100
# добавляем линии для каждого столбца, используя дату как ось x и значение столбца как ось y
fig.add_trace(go.Scatter(x=df['week'], y=df['accounts_conversion'], name='client_to_account'))
fig.add_trace(go.Scatter(x=df['week'], y=df['applications_conversion'], name='account_to_application'))
fig.add_trace(go.Scatter(x=df['week'], y=df['games_conversion'], name='application_to_game'))


# задаем название графика и осей
fig.update_layout(title='Графики конверсий',
                  xaxis_title='Недели',
                  yaxis_title='Значение')

# отображаем график
fig.show()

Графики конверсий в целом со временем становятся выше, НО Конверсия с посещений на регистрацию не растет, она менее успешна; 

Возможно стоит проработать сайт, чтобы смотивировать большее количество людей регистрироваться